/**layout Start**/
.dib{
  &,
  &#{$children}>*,
  &#{$children_reduce} *{
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
}

.dtb{
  display: table;
}

.dtbr{
  display: table-row;
}
.dtbc{
  &,
  &#{$children}>*,
  &#{$children_reduce} *{
    display: table-cell;
    *display: inline-block;
    *zoom: 1;
  }
}
.db{
  &,
  &#{$children}>*,
  &#{$children_reduce} *{
    display: block;
  }
}
.dn,
[hidden]{
  display: none;
}


.z{
  &,
  &#{$children}>*,
  &#{$children_reduce} *{
    zoom:1;
  }
}



/**layout  End**/
