/**float Start**/
.l{
  &,
  &#{$children}>*,
  &#{$children_reduce} *{
    float: left;
  }
}

.r{
  &,
  &#{$children}>*,
  &#{$children_reduce} *{
    float: right;
  }
}



.lfix {
  @extend .clfix;
  &#{$children} > * {
    float: left;
  }
}
.rfix {
  @extend .clfix;
  &#{$children} > * {
    float: right;
  }
}
/**float  End**/
