/**shape Start**/
.radius{
  @each $value in $radius-list{
    &-#{$value}{
      border-radius: #{$value}px;
    }
  }
}

.radius-top-0 {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.radius-right-0 {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.radius-bottom-0 {
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.radius-left-0 {
  border-bottom-left-radius: 0!important;
  border-top-left-radius: 0!important;
}

.circle {
  border-radius: 50%!important;
}

.rect{
  border-radius:0!important;
}
/**shape  End**/
