/**style Start**/
/**_init Start**/
/**core Start**/
/**core  End**/
/**_init  End**/
/**_init Start**/
/**_init Start**/
/**forEach Start**/
/**forEach  End**/
/**_init  End**/
/**_init Start**/
/**box Start**/
/**box  End**/
/**_init  End**/
/**_init Start**/
/**reset Start**/
*,
*:focus {
  outline: none;
}
html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
body {
  font: 62.5%/1 Tahoma, simsun, "\5b8b\4f53", Microsoft YaHei, Arial, "sans-serif";
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
pre,
form,
fieldset,
input,
textarea,
button,
p,
blockquote,
th,
td,
s,
b,
menu {
  margin: 0;
  padding: 0;
}
/*html5 tag support*/
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
fieldset,
img,
abbr,
acronym,
hr {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
caption,
th {
  text-align: left;
}
address,
caption,
cite,
dfn,
th,
var,
i,
s,
em {
  font-style: normal;
  font-weight: normal;
}
s,
ins {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol,
li {
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
hr {
  display: block;
  height: 0;
  border-top: 1px solid #cccccc;
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
input,
select {
  vertical-align: middle;
}
/**reset  End**/
/**_init  End**/
/**_init Start**/
/**align Start**/
.vat,
.vat_ > *,
.vat- *,
.vat_ > *,
.vat- * {
  vertical-align: top;
}
.vam,
.vam_ > *,
.vam- *,
.vim_ > *,
.vim- *,
.vim-center > *,
.vim-center:after,
.vam_ > *,
.vam- *,
.table-middle,
.table-middle_ > *,
.vim-center_ > * > *,
.vim-center_ > *:after {
  vertical-align: middle;
}
.vab,
.vab_ > *,
.vab- *,
.vab_ > *,
.vab- * {
  vertical-align: bottom;
}
.vatb,
.vatb_ > *,
.vatb- * {
  vertical-align: text-bottom;
}
.tl,
.tl_ > *,
.tl- * {
  text-align: left;
}
.tc,
.tc_ > *,
.tc- * {
  text-align: center;
}
.tr,
.tr_ > *,
.tr- * {
  text-align: right;
}
.ti2e,
.ti2e_ > *,
.ti2e- * {
  text-indent: 2em;
}
.ti0,
.ti0_ > *,
.ti0- * {
  text-indent: 0;
}
.ti_ {
  text-indent: -9999em;
}
/**align  End**/
/**background-color Start**/
.bgn {
  background: none;
}
.bg-0 {
  background-color: #000000;
}
.bg-3 {
  background-color: #333333;
}
.bg-6 {
  background-color: #666666;
}
.bg-9 {
  background-color: #999999;
}
.bg-c {
  background-color: #cccccc;
}
.bg-d {
  background-color: #dddddd;
}
.bg-e {
  background-color: #eeeeee;
}
.bg-f {
  background-color: #ffffff;
}
.bg-red {
  background-color: #ff0000;
}
.bg-orange {
  background-color: #ff6600;
}
.bg-green {
  background-color: #008800;
}
/**background-color  End**/
/**blank Start**/
.blank,
.blank0,
.blank1,
.blank2,
.blank3,
.blank4,
.blank5,
.blank6,
.blank7,
.blank8,
.blank9,
.blank10,
.blank12,
.blank14,
.blank16,
.blank18,
.blank20,
.blank30,
.blank40,
.blank50 {
  display: block;
  font-size: 0;
  overflow: hidden;
  clear: both;
}
.blank0 {
  height: 0px;
}
.blank1 {
  height: 1px;
}
.blank2 {
  height: 2px;
}
.blank3 {
  height: 3px;
}
.blank4 {
  height: 4px;
}
.blank5 {
  height: 5px;
}
.blank6 {
  height: 6px;
}
.blank7 {
  height: 7px;
}
.blank8 {
  height: 8px;
}
.blank9 {
  height: 9px;
}
.blank10 {
  height: 10px;
}
.blank12 {
  height: 12px;
}
.blank14 {
  height: 14px;
}
.blank16 {
  height: 16px;
}
.blank18 {
  height: 18px;
}
.blank20 {
  height: 20px;
}
.blank30 {
  height: 30px;
}
.blank40 {
  height: 40px;
}
.blank50 {
  height: 50px;
}
/**blank  End**/
/**clearfix Start**/
/**
 * http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 * 3. Reference:http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clfix:before,
.clfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clfix:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clfix {
  *zoom: 1;
}
/*normal way to clearfix*/
.clearfix:after {
  clear: both;
  content: "\200B";
  display: block;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
/**clearfix  End**/
/**color Start**/
.c-0 {
  color: #000000;
}
.c-3 {
  color: #333333;
}
.c-6 {
  color: #666666;
}
.c-9 {
  color: #999999;
}
.c-c {
  color: #cccccc;
}
.c-d {
  color: #dddddd;
}
.c-e {
  color: #eeeeee;
}
.c-f {
  color: #ffffff;
}
.c-red {
  color: #ff0000;
}
.c-orange {
  color: #ff6600;
}
.c-green {
  color: #008800;
}
/**color  End**/
/**debug Start**/
.debug-red {
  border: 1px solid #ff0000;
}
.debug-green {
  border: 1px solid #00ff00;
}
.debug-blue {
  border: 1px solid #0000ff;
}
/**debug  End**/
/**font Start**/
.b {
  font-weight: bold;
}
.n {
  font-weight: normal;
  font-style: normal;
}
.fbd-font {
  font: 62.5%/1 Tahoma, simsun, "\5b8b\4f53", Microsoft YaHei, Arial, "sans-serif";
}
.fbd-size {
  font-size: 62.5%;
}
.fbd-lh,
.ls0-u,
.ls0_ > * {
  line-height: 1;
}
.fbd-family,
.ls0-u,
.ls0_ > * {
  font-family: Tahoma, simsun, "\5b8b\4f53", Microsoft YaHei, Arial, "sans-serif";
}
.f10 {
  font-size: 10px;
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f19 {
  font-size: 19px;
}
.f20 {
  font-size: 20px;
}
.f21 {
  font-size: 21px;
}
.f22 {
  font-size: 22px;
}
.f23 {
  font-size: 23px;
}
.f24 {
  font-size: 24px;
}
.f25 {
  font-size: 25px;
}
.f26 {
  font-size: 26px;
}
.f27 {
  font-size: 27px;
}
.f28 {
  font-size: 28px;
}
.f29 {
  font-size: 29px;
}
.f30 {
  font-size: 30px;
}
/**font  End**/
/**form Start**/
.frm-none {
  border: none;
  background: none;
}
/**form  End**/
/**height Start**/
.h-p1,
.h-p1_ > *,
.h-p1- * {
  height: 10%;
}
.h-p2,
.h-p2_ > *,
.h-p2- * {
  height: 20%;
}
.h-p3,
.h-p3_ > *,
.h-p3- * {
  height: 30%;
}
.h-p4,
.h-p4_ > *,
.h-p4- * {
  height: 40%;
}
.h-p5,
.h-p5_ > *,
.h-p5- * {
  height: 50%;
}
.h-p6,
.h-p6_ > *,
.h-p6- * {
  height: 60%;
}
.h-p7,
.h-p7_ > *,
.h-p7- * {
  height: 70%;
}
.h-p8,
.h-p8_ > *,
.h-p8- * {
  height: 80%;
}
.h-p9,
.h-p9_ > *,
.h-p9- * {
  height: 90%;
}
.h-p10,
.h-p10_ > *,
.h-p10- * {
  height: 100%;
}
.h0,
.h0_ > *,
.h0- * {
  height: 0px;
}
.h1,
.h1_ > *,
.h1- * {
  height: 1px;
}
.h2,
.h2_ > *,
.h2- * {
  height: 2px;
}
.h3,
.h3_ > *,
.h3- * {
  height: 3px;
}
.h4,
.h4_ > *,
.h4- * {
  height: 4px;
}
.h5,
.h5_ > *,
.h5- * {
  height: 5px;
}
.h6,
.h6_ > *,
.h6- * {
  height: 6px;
}
.h7,
.h7_ > *,
.h7- * {
  height: 7px;
}
.h8,
.h8_ > *,
.h8- * {
  height: 8px;
}
.h9,
.h9_ > *,
.h9- * {
  height: 9px;
}
.h10,
.h10_ > *,
.h10- * {
  height: 10px;
}
.h11,
.h11_ > *,
.h11- * {
  height: 11px;
}
.h12,
.h12_ > *,
.h12- * {
  height: 12px;
}
.h13,
.h13_ > *,
.h13- * {
  height: 13px;
}
.h14,
.h14_ > *,
.h14- * {
  height: 14px;
}
.h15,
.h15_ > *,
.h15- * {
  height: 15px;
}
.h16,
.h16_ > *,
.h16- * {
  height: 16px;
}
.h17,
.h17_ > *,
.h17- * {
  height: 17px;
}
.h18,
.h18_ > *,
.h18- * {
  height: 18px;
}
.h19,
.h19_ > *,
.h19- * {
  height: 19px;
}
.h20,
.h20_ > *,
.h20- * {
  height: 20px;
}
.h21,
.h21_ > *,
.h21- * {
  height: 21px;
}
.h22,
.h22_ > *,
.h22- * {
  height: 22px;
}
.h23,
.h23_ > *,
.h23- * {
  height: 23px;
}
.h24,
.h24_ > *,
.h24- * {
  height: 24px;
}
.h25,
.h25_ > *,
.h25- * {
  height: 25px;
}
.h26,
.h26_ > *,
.h26- * {
  height: 26px;
}
.h27,
.h27_ > *,
.h27- * {
  height: 27px;
}
.h28,
.h28_ > *,
.h28- * {
  height: 28px;
}
.h29,
.h29_ > *,
.h29- * {
  height: 29px;
}
.h30,
.h30_ > *,
.h30- * {
  height: 30px;
}
.lh0,
.lh0_ > *,
.lh0- * {
  line-height: 0px;
}
.lh1,
.lh1_ > *,
.lh1- * {
  line-height: 1px;
}
.lh2,
.lh2_ > *,
.lh2- * {
  line-height: 2px;
}
.lh3,
.lh3_ > *,
.lh3- * {
  line-height: 3px;
}
.lh4,
.lh4_ > *,
.lh4- * {
  line-height: 4px;
}
.lh5,
.lh5_ > *,
.lh5- * {
  line-height: 5px;
}
.lh6,
.lh6_ > *,
.lh6- * {
  line-height: 6px;
}
.lh7,
.lh7_ > *,
.lh7- * {
  line-height: 7px;
}
.lh8,
.lh8_ > *,
.lh8- * {
  line-height: 8px;
}
.lh9,
.lh9_ > *,
.lh9- * {
  line-height: 9px;
}
.lh10,
.lh10_ > *,
.lh10- * {
  line-height: 10px;
}
.lh11,
.lh11_ > *,
.lh11- * {
  line-height: 11px;
}
.lh12,
.lh12_ > *,
.lh12- * {
  line-height: 12px;
}
.lh13,
.lh13_ > *,
.lh13- * {
  line-height: 13px;
}
.lh14,
.lh14_ > *,
.lh14- * {
  line-height: 14px;
}
.lh15,
.lh15_ > *,
.lh15- * {
  line-height: 15px;
}
.lh16,
.lh16_ > *,
.lh16- * {
  line-height: 16px;
}
.lh17,
.lh17_ > *,
.lh17- * {
  line-height: 17px;
}
.lh18,
.lh18_ > *,
.lh18- * {
  line-height: 18px;
}
.lh19,
.lh19_ > *,
.lh19- * {
  line-height: 19px;
}
.lh20,
.lh20_ > *,
.lh20- * {
  line-height: 20px;
}
.lh21,
.lh21_ > *,
.lh21- * {
  line-height: 21px;
}
.lh22,
.lh22_ > *,
.lh22- * {
  line-height: 22px;
}
.lh23,
.lh23_ > *,
.lh23- * {
  line-height: 23px;
}
.lh24,
.lh24_ > *,
.lh24- * {
  line-height: 24px;
}
.lh25,
.lh25_ > *,
.lh25- * {
  line-height: 25px;
}
.lh26,
.lh26_ > *,
.lh26- * {
  line-height: 26px;
}
.lh27,
.lh27_ > *,
.lh27- * {
  line-height: 27px;
}
.lh28,
.lh28_ > *,
.lh28- * {
  line-height: 28px;
}
.lh29,
.lh29_ > *,
.lh29- * {
  line-height: 29px;
}
.lh30,
.lh30_ > *,
.lh30- * {
  line-height: 30px;
}
.hlh0,
.hlh0_ > *,
.hlh0- * {
  height: 0px;
  line-height: 0px;
}
.hlh1,
.hlh1_ > *,
.hlh1- * {
  height: 1px;
  line-height: 1px;
}
.hlh2,
.hlh2_ > *,
.hlh2- * {
  height: 2px;
  line-height: 2px;
}
.hlh3,
.hlh3_ > *,
.hlh3- * {
  height: 3px;
  line-height: 3px;
}
.hlh4,
.hlh4_ > *,
.hlh4- * {
  height: 4px;
  line-height: 4px;
}
.hlh5,
.hlh5_ > *,
.hlh5- * {
  height: 5px;
  line-height: 5px;
}
.hlh6,
.hlh6_ > *,
.hlh6- * {
  height: 6px;
  line-height: 6px;
}
.hlh7,
.hlh7_ > *,
.hlh7- * {
  height: 7px;
  line-height: 7px;
}
.hlh8,
.hlh8_ > *,
.hlh8- * {
  height: 8px;
  line-height: 8px;
}
.hlh9,
.hlh9_ > *,
.hlh9- * {
  height: 9px;
  line-height: 9px;
}
.hlh10,
.hlh10_ > *,
.hlh10- * {
  height: 10px;
  line-height: 10px;
}
.hlh11,
.hlh11_ > *,
.hlh11- * {
  height: 11px;
  line-height: 11px;
}
.hlh12,
.hlh12_ > *,
.hlh12- * {
  height: 12px;
  line-height: 12px;
}
.hlh13,
.hlh13_ > *,
.hlh13- * {
  height: 13px;
  line-height: 13px;
}
.hlh14,
.hlh14_ > *,
.hlh14- * {
  height: 14px;
  line-height: 14px;
}
.hlh15,
.hlh15_ > *,
.hlh15- * {
  height: 15px;
  line-height: 15px;
}
.hlh16,
.hlh16_ > *,
.hlh16- * {
  height: 16px;
  line-height: 16px;
}
.hlh17,
.hlh17_ > *,
.hlh17- * {
  height: 17px;
  line-height: 17px;
}
.hlh18,
.hlh18_ > *,
.hlh18- * {
  height: 18px;
  line-height: 18px;
}
.hlh19,
.hlh19_ > *,
.hlh19- * {
  height: 19px;
  line-height: 19px;
}
.hlh20,
.hlh20_ > *,
.hlh20- * {
  height: 20px;
  line-height: 20px;
}
.hlh21,
.hlh21_ > *,
.hlh21- * {
  height: 21px;
  line-height: 21px;
}
.hlh22,
.hlh22_ > *,
.hlh22- * {
  height: 22px;
  line-height: 22px;
}
.hlh23,
.hlh23_ > *,
.hlh23- * {
  height: 23px;
  line-height: 23px;
}
.hlh24,
.hlh24_ > *,
.hlh24- * {
  height: 24px;
  line-height: 24px;
}
.hlh25,
.hlh25_ > *,
.hlh25- * {
  height: 25px;
  line-height: 25px;
}
.hlh26,
.hlh26_ > *,
.hlh26- * {
  height: 26px;
  line-height: 26px;
}
.hlh27,
.hlh27_ > *,
.hlh27- * {
  height: 27px;
  line-height: 27px;
}
.hlh28,
.hlh28_ > *,
.hlh28- * {
  height: 28px;
  line-height: 28px;
}
.hlh29,
.hlh29_ > *,
.hlh29- * {
  height: 29px;
  line-height: 29px;
}
.hlh30,
.hlh30_ > *,
.hlh30- * {
  height: 30px;
  line-height: 30px;
}
.max-h100 {
  max-height: 100%;
}
.min-h100 {
  min-height: 100%;
}
/**height  End**/
/**layout Start**/
.l,
.l_ > *,
.l- * {
  float: left;
}
.r,
.r_ > *,
.r- * {
  float: right;
}
.abs,
.abs_ > *,
.abs- * {
  position: absolute;
}
.rel {
  position: relative;
}
.fixed {
  position: fixed;
}
.dib,
.dib_ > *,
.dib- *,
.frm-label,
.justify-list_ > *,
.vim_ > *,
.vim- *,
.vim-center > *,
.vim-center_ > * > * {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.dtb,
.eq-width_ {
  display: table;
}
.dtbr {
  display: table-row;
}
.dtbc,
.dtbc_ > *,
.dtbc- *,
.table-middle,
.table-middle_ > *,
.cell,
.eq-width_ > * {
  display: table-cell;
  *display: inline-block;
  *zoom: 1;
}
.db,
.db_ > *,
.db- * {
  display: block;
}
.dn,
[hidden] {
  display: none;
}
.z,
.z_ > *,
.z- * {
  zoom: 1;
}
.trbl0,
.abs-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.lr0,
.abs-center-x {
  left: 0;
  right: 0;
}
.tb0,
.abs-center-y {
  top: 0;
  bottom: 0;
}
.t0 {
  top: 0;
}
.r0 {
  right: 0;
}
.b0 {
  bottom: 0;
}
.l0 {
  left: 0;
}
.t5 {
  top: 50%;
}
.r5 {
  right: 50%;
}
.b5 {
  bottom: 50%;
}
.l5 {
  left: 50%;
}
.t100 {
  top: 100%;
}
.r100 {
  right: 100%;
}
.b100 {
  bottom: 100%;
}
.l100 {
  left: 100%;
}
/**layout  End**/
/**margin Start**/
.auto {
  margin-left: auto;
  margin-right: auto;
}
.m0 {
  margin: 0;
}
.m0a {
  margin: 0 auto;
}
.m0,
.m0_ > *,
.m0- * {
  margin: 0px;
}
.m1,
.m1_ > *,
.m1- * {
  margin: 1px;
}
.m2,
.m2_ > *,
.m2- * {
  margin: 2px;
}
.m3,
.m3_ > *,
.m3- * {
  margin: 3px;
}
.m4,
.m4_ > *,
.m4- * {
  margin: 4px;
}
.m5,
.m5_ > *,
.m5- * {
  margin: 5px;
}
.m6,
.m6_ > *,
.m6- * {
  margin: 6px;
}
.m7,
.m7_ > *,
.m7- * {
  margin: 7px;
}
.m8,
.m8_ > *,
.m8- * {
  margin: 8px;
}
.m9,
.m9_ > *,
.m9- * {
  margin: 9px;
}
.m10,
.m10_ > *,
.m10- * {
  margin: 10px;
}
.m12,
.m12_ > *,
.m12- * {
  margin: 12px;
}
.m14,
.m14_ > *,
.m14- * {
  margin: 14px;
}
.m16,
.m16_ > *,
.m16- * {
  margin: 16px;
}
.m18,
.m18_ > *,
.m18- * {
  margin: 18px;
}
.m20,
.m20_ > *,
.m20- * {
  margin: 20px;
}
.m30,
.m30_ > *,
.m30- * {
  margin: 30px;
}
.m40,
.m40_ > *,
.m40- * {
  margin: 40px;
}
.m50,
.m50_ > *,
.m50- * {
  margin: 50px;
}
.mt0,
.mt0_ > *,
.mt0- * {
  margin-top: 0px;
}
.mt1,
.mt1_ > *,
.mt1- * {
  margin-top: 1px;
}
.mt2,
.mt2_ > *,
.mt2- * {
  margin-top: 2px;
}
.mt3,
.mt3_ > *,
.mt3- * {
  margin-top: 3px;
}
.mt4,
.mt4_ > *,
.mt4- * {
  margin-top: 4px;
}
.mt5,
.mt5_ > *,
.mt5- * {
  margin-top: 5px;
}
.mt6,
.mt6_ > *,
.mt6- * {
  margin-top: 6px;
}
.mt7,
.mt7_ > *,
.mt7- * {
  margin-top: 7px;
}
.mt8,
.mt8_ > *,
.mt8- * {
  margin-top: 8px;
}
.mt9,
.mt9_ > *,
.mt9- * {
  margin-top: 9px;
}
.mt10,
.mt10_ > *,
.mt10- * {
  margin-top: 10px;
}
.mt12,
.mt12_ > *,
.mt12- * {
  margin-top: 12px;
}
.mt14,
.mt14_ > *,
.mt14- * {
  margin-top: 14px;
}
.mt16,
.mt16_ > *,
.mt16- * {
  margin-top: 16px;
}
.mt18,
.mt18_ > *,
.mt18- * {
  margin-top: 18px;
}
.mt20,
.mt20_ > *,
.mt20- * {
  margin-top: 20px;
}
.mt30,
.mt30_ > *,
.mt30- * {
  margin-top: 30px;
}
.mt40,
.mt40_ > *,
.mt40- * {
  margin-top: 40px;
}
.mt50,
.mt50_ > *,
.mt50- * {
  margin-top: 50px;
}
.mr0,
.mr0_ > *,
.mr0- * {
  margin-right: 0px;
}
.mr1,
.mr1_ > *,
.mr1- * {
  margin-right: 1px;
}
.mr2,
.mr2_ > *,
.mr2- * {
  margin-right: 2px;
}
.mr3,
.mr3_ > *,
.mr3- * {
  margin-right: 3px;
}
.mr4,
.mr4_ > *,
.mr4- * {
  margin-right: 4px;
}
.mr5,
.mr5_ > *,
.mr5- * {
  margin-right: 5px;
}
.mr6,
.mr6_ > *,
.mr6- * {
  margin-right: 6px;
}
.mr7,
.mr7_ > *,
.mr7- * {
  margin-right: 7px;
}
.mr8,
.mr8_ > *,
.mr8- * {
  margin-right: 8px;
}
.mr9,
.mr9_ > *,
.mr9- * {
  margin-right: 9px;
}
.mr10,
.mr10_ > *,
.mr10- * {
  margin-right: 10px;
}
.mr12,
.mr12_ > *,
.mr12- * {
  margin-right: 12px;
}
.mr14,
.mr14_ > *,
.mr14- * {
  margin-right: 14px;
}
.mr16,
.mr16_ > *,
.mr16- * {
  margin-right: 16px;
}
.mr18,
.mr18_ > *,
.mr18- * {
  margin-right: 18px;
}
.mr20,
.mr20_ > *,
.mr20- * {
  margin-right: 20px;
}
.mr30,
.mr30_ > *,
.mr30- * {
  margin-right: 30px;
}
.mr40,
.mr40_ > *,
.mr40- * {
  margin-right: 40px;
}
.mr50,
.mr50_ > *,
.mr50- * {
  margin-right: 50px;
}
.mb0,
.mb0_ > *,
.mb0- * {
  margin-bottom: 0px;
}
.mb1,
.mb1_ > *,
.mb1- * {
  margin-bottom: 1px;
}
.mb2,
.mb2_ > *,
.mb2- * {
  margin-bottom: 2px;
}
.mb3,
.mb3_ > *,
.mb3- * {
  margin-bottom: 3px;
}
.mb4,
.mb4_ > *,
.mb4- * {
  margin-bottom: 4px;
}
.mb5,
.mb5_ > *,
.mb5- * {
  margin-bottom: 5px;
}
.mb6,
.mb6_ > *,
.mb6- * {
  margin-bottom: 6px;
}
.mb7,
.mb7_ > *,
.mb7- * {
  margin-bottom: 7px;
}
.mb8,
.mb8_ > *,
.mb8- * {
  margin-bottom: 8px;
}
.mb9,
.mb9_ > *,
.mb9- * {
  margin-bottom: 9px;
}
.mb10,
.mb10_ > *,
.mb10- * {
  margin-bottom: 10px;
}
.mb12,
.mb12_ > *,
.mb12- * {
  margin-bottom: 12px;
}
.mb14,
.mb14_ > *,
.mb14- * {
  margin-bottom: 14px;
}
.mb16,
.mb16_ > *,
.mb16- * {
  margin-bottom: 16px;
}
.mb18,
.mb18_ > *,
.mb18- * {
  margin-bottom: 18px;
}
.mb20,
.mb20_ > *,
.mb20- * {
  margin-bottom: 20px;
}
.mb30,
.mb30_ > *,
.mb30- * {
  margin-bottom: 30px;
}
.mb40,
.mb40_ > *,
.mb40- * {
  margin-bottom: 40px;
}
.mb50,
.mb50_ > *,
.mb50- * {
  margin-bottom: 50px;
}
.ml0,
.ml0_ > *,
.ml0- * {
  margin-left: 0px;
}
.ml1,
.ml1_ > *,
.ml1- * {
  margin-left: 1px;
}
.ml2,
.ml2_ > *,
.ml2- * {
  margin-left: 2px;
}
.ml3,
.ml3_ > *,
.ml3- * {
  margin-left: 3px;
}
.ml4,
.ml4_ > *,
.ml4- * {
  margin-left: 4px;
}
.ml5,
.ml5_ > *,
.ml5- * {
  margin-left: 5px;
}
.ml6,
.ml6_ > *,
.ml6- * {
  margin-left: 6px;
}
.ml7,
.ml7_ > *,
.ml7- * {
  margin-left: 7px;
}
.ml8,
.ml8_ > *,
.ml8- * {
  margin-left: 8px;
}
.ml9,
.ml9_ > *,
.ml9- * {
  margin-left: 9px;
}
.ml10,
.ml10_ > *,
.ml10- * {
  margin-left: 10px;
}
.ml12,
.ml12_ > *,
.ml12- * {
  margin-left: 12px;
}
.ml14,
.ml14_ > *,
.ml14- * {
  margin-left: 14px;
}
.ml16,
.ml16_ > *,
.ml16- * {
  margin-left: 16px;
}
.ml18,
.ml18_ > *,
.ml18- * {
  margin-left: 18px;
}
.ml20,
.ml20_ > *,
.ml20- * {
  margin-left: 20px;
}
.ml30,
.ml30_ > *,
.ml30- * {
  margin-left: 30px;
}
.ml40,
.ml40_ > *,
.ml40- * {
  margin-left: 40px;
}
.ml50,
.ml50_ > *,
.ml50- * {
  margin-left: 50px;
}
.mx0,
.mx0_ > *,
.mx0- * {
  margin-left: 0px;
  margin-right: 0px;
}
.mx1,
.mx1_ > *,
.mx1- * {
  margin-left: 1px;
  margin-right: 1px;
}
.mx2,
.mx2_ > *,
.mx2- * {
  margin-left: 2px;
  margin-right: 2px;
}
.mx3,
.mx3_ > *,
.mx3- * {
  margin-left: 3px;
  margin-right: 3px;
}
.mx4,
.mx4_ > *,
.mx4- * {
  margin-left: 4px;
  margin-right: 4px;
}
.mx5,
.mx5_ > *,
.mx5- * {
  margin-left: 5px;
  margin-right: 5px;
}
.mx6,
.mx6_ > *,
.mx6- * {
  margin-left: 6px;
  margin-right: 6px;
}
.mx7,
.mx7_ > *,
.mx7- * {
  margin-left: 7px;
  margin-right: 7px;
}
.mx8,
.mx8_ > *,
.mx8- * {
  margin-left: 8px;
  margin-right: 8px;
}
.mx9,
.mx9_ > *,
.mx9- * {
  margin-left: 9px;
  margin-right: 9px;
}
.mx10,
.mx10_ > *,
.mx10- * {
  margin-left: 10px;
  margin-right: 10px;
}
.mx12,
.mx12_ > *,
.mx12- * {
  margin-left: 12px;
  margin-right: 12px;
}
.mx14,
.mx14_ > *,
.mx14- * {
  margin-left: 14px;
  margin-right: 14px;
}
.mx16,
.mx16_ > *,
.mx16- * {
  margin-left: 16px;
  margin-right: 16px;
}
.mx18,
.mx18_ > *,
.mx18- * {
  margin-left: 18px;
  margin-right: 18px;
}
.mx20,
.mx20_ > *,
.mx20- * {
  margin-left: 20px;
  margin-right: 20px;
}
.mx30,
.mx30_ > *,
.mx30- * {
  margin-left: 30px;
  margin-right: 30px;
}
.mx40,
.mx40_ > *,
.mx40- * {
  margin-left: 40px;
  margin-right: 40px;
}
.mx50,
.mx50_ > *,
.mx50- * {
  margin-left: 50px;
  margin-right: 50px;
}
.my0,
.my0_ > *,
.my0- * {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my1,
.my1_ > *,
.my1- * {
  margin-top: 1px;
  margin-bottom: 1px;
}
.my2,
.my2_ > *,
.my2- * {
  margin-top: 2px;
  margin-bottom: 2px;
}
.my3,
.my3_ > *,
.my3- * {
  margin-top: 3px;
  margin-bottom: 3px;
}
.my4,
.my4_ > *,
.my4- * {
  margin-top: 4px;
  margin-bottom: 4px;
}
.my5,
.my5_ > *,
.my5- * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my6,
.my6_ > *,
.my6- * {
  margin-top: 6px;
  margin-bottom: 6px;
}
.my7,
.my7_ > *,
.my7- * {
  margin-top: 7px;
  margin-bottom: 7px;
}
.my8,
.my8_ > *,
.my8- * {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my9,
.my9_ > *,
.my9- * {
  margin-top: 9px;
  margin-bottom: 9px;
}
.my10,
.my10_ > *,
.my10- * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my12,
.my12_ > *,
.my12- * {
  margin-top: 12px;
  margin-bottom: 12px;
}
.my14,
.my14_ > *,
.my14- * {
  margin-top: 14px;
  margin-bottom: 14px;
}
.my16,
.my16_ > *,
.my16- * {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my18,
.my18_ > *,
.my18- * {
  margin-top: 18px;
  margin-bottom: 18px;
}
.my20,
.my20_ > *,
.my20- * {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my30,
.my30_ > *,
.my30- * {
  margin-top: 30px;
  margin-bottom: 30px;
}
.my40,
.my40_ > *,
.my40- * {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my50,
.my50_ > *,
.my50- * {
  margin-top: 50px;
  margin-bottom: 50px;
}
/**margin  End**/
/**padding Start**/
.p0,
.p0_ > *,
.p0- * {
  padding: 0px;
}
.p1,
.p1_ > *,
.p1- * {
  padding: 1px;
}
.p2,
.p2_ > *,
.p2- * {
  padding: 2px;
}
.p3,
.p3_ > *,
.p3- * {
  padding: 3px;
}
.p4,
.p4_ > *,
.p4- * {
  padding: 4px;
}
.p5,
.p5_ > *,
.p5- * {
  padding: 5px;
}
.p6,
.p6_ > *,
.p6- * {
  padding: 6px;
}
.p7,
.p7_ > *,
.p7- * {
  padding: 7px;
}
.p8,
.p8_ > *,
.p8- * {
  padding: 8px;
}
.p9,
.p9_ > *,
.p9- * {
  padding: 9px;
}
.p10,
.p10_ > *,
.p10- * {
  padding: 10px;
}
.p12,
.p12_ > *,
.p12- * {
  padding: 12px;
}
.p14,
.p14_ > *,
.p14- * {
  padding: 14px;
}
.p16,
.p16_ > *,
.p16- * {
  padding: 16px;
}
.p18,
.p18_ > *,
.p18- * {
  padding: 18px;
}
.p20,
.p20_ > *,
.p20- * {
  padding: 20px;
}
.p30,
.p30_ > *,
.p30- * {
  padding: 30px;
}
.p40,
.p40_ > *,
.p40- * {
  padding: 40px;
}
.p50,
.p50_ > *,
.p50- * {
  padding: 50px;
}
.pt0,
.pt0_ > *,
.pt0- * {
  padding-top: 0px;
}
.pt1,
.pt1_ > *,
.pt1- * {
  padding-top: 1px;
}
.pt2,
.pt2_ > *,
.pt2- * {
  padding-top: 2px;
}
.pt3,
.pt3_ > *,
.pt3- * {
  padding-top: 3px;
}
.pt4,
.pt4_ > *,
.pt4- * {
  padding-top: 4px;
}
.pt5,
.pt5_ > *,
.pt5- * {
  padding-top: 5px;
}
.pt6,
.pt6_ > *,
.pt6- * {
  padding-top: 6px;
}
.pt7,
.pt7_ > *,
.pt7- * {
  padding-top: 7px;
}
.pt8,
.pt8_ > *,
.pt8- * {
  padding-top: 8px;
}
.pt9,
.pt9_ > *,
.pt9- * {
  padding-top: 9px;
}
.pt10,
.pt10_ > *,
.pt10- * {
  padding-top: 10px;
}
.pt12,
.pt12_ > *,
.pt12- * {
  padding-top: 12px;
}
.pt14,
.pt14_ > *,
.pt14- * {
  padding-top: 14px;
}
.pt16,
.pt16_ > *,
.pt16- * {
  padding-top: 16px;
}
.pt18,
.pt18_ > *,
.pt18- * {
  padding-top: 18px;
}
.pt20,
.pt20_ > *,
.pt20- * {
  padding-top: 20px;
}
.pt30,
.pt30_ > *,
.pt30- * {
  padding-top: 30px;
}
.pt40,
.pt40_ > *,
.pt40- * {
  padding-top: 40px;
}
.pt50,
.pt50_ > *,
.pt50- * {
  padding-top: 50px;
}
.pr0,
.pr0_ > *,
.pr0- * {
  padding-right: 0px;
}
.pr1,
.pr1_ > *,
.pr1- * {
  padding-right: 1px;
}
.pr2,
.pr2_ > *,
.pr2- * {
  padding-right: 2px;
}
.pr3,
.pr3_ > *,
.pr3- * {
  padding-right: 3px;
}
.pr4,
.pr4_ > *,
.pr4- * {
  padding-right: 4px;
}
.pr5,
.pr5_ > *,
.pr5- * {
  padding-right: 5px;
}
.pr6,
.pr6_ > *,
.pr6- * {
  padding-right: 6px;
}
.pr7,
.pr7_ > *,
.pr7- * {
  padding-right: 7px;
}
.pr8,
.pr8_ > *,
.pr8- * {
  padding-right: 8px;
}
.pr9,
.pr9_ > *,
.pr9- * {
  padding-right: 9px;
}
.pr10,
.pr10_ > *,
.pr10- * {
  padding-right: 10px;
}
.pr12,
.pr12_ > *,
.pr12- * {
  padding-right: 12px;
}
.pr14,
.pr14_ > *,
.pr14- * {
  padding-right: 14px;
}
.pr16,
.pr16_ > *,
.pr16- * {
  padding-right: 16px;
}
.pr18,
.pr18_ > *,
.pr18- * {
  padding-right: 18px;
}
.pr20,
.pr20_ > *,
.pr20- * {
  padding-right: 20px;
}
.pr30,
.pr30_ > *,
.pr30- * {
  padding-right: 30px;
}
.pr40,
.pr40_ > *,
.pr40- * {
  padding-right: 40px;
}
.pr50,
.pr50_ > *,
.pr50- * {
  padding-right: 50px;
}
.pb0,
.pb0_ > *,
.pb0- * {
  padding-bottom: 0px;
}
.pb1,
.pb1_ > *,
.pb1- * {
  padding-bottom: 1px;
}
.pb2,
.pb2_ > *,
.pb2- * {
  padding-bottom: 2px;
}
.pb3,
.pb3_ > *,
.pb3- * {
  padding-bottom: 3px;
}
.pb4,
.pb4_ > *,
.pb4- * {
  padding-bottom: 4px;
}
.pb5,
.pb5_ > *,
.pb5- * {
  padding-bottom: 5px;
}
.pb6,
.pb6_ > *,
.pb6- * {
  padding-bottom: 6px;
}
.pb7,
.pb7_ > *,
.pb7- * {
  padding-bottom: 7px;
}
.pb8,
.pb8_ > *,
.pb8- * {
  padding-bottom: 8px;
}
.pb9,
.pb9_ > *,
.pb9- * {
  padding-bottom: 9px;
}
.pb10,
.pb10_ > *,
.pb10- * {
  padding-bottom: 10px;
}
.pb12,
.pb12_ > *,
.pb12- * {
  padding-bottom: 12px;
}
.pb14,
.pb14_ > *,
.pb14- * {
  padding-bottom: 14px;
}
.pb16,
.pb16_ > *,
.pb16- * {
  padding-bottom: 16px;
}
.pb18,
.pb18_ > *,
.pb18- * {
  padding-bottom: 18px;
}
.pb20,
.pb20_ > *,
.pb20- * {
  padding-bottom: 20px;
}
.pb30,
.pb30_ > *,
.pb30- * {
  padding-bottom: 30px;
}
.pb40,
.pb40_ > *,
.pb40- * {
  padding-bottom: 40px;
}
.pb50,
.pb50_ > *,
.pb50- * {
  padding-bottom: 50px;
}
.pl0,
.pl0_ > *,
.pl0- * {
  padding-left: 0px;
}
.pl1,
.pl1_ > *,
.pl1- * {
  padding-left: 1px;
}
.pl2,
.pl2_ > *,
.pl2- * {
  padding-left: 2px;
}
.pl3,
.pl3_ > *,
.pl3- * {
  padding-left: 3px;
}
.pl4,
.pl4_ > *,
.pl4- * {
  padding-left: 4px;
}
.pl5,
.pl5_ > *,
.pl5- * {
  padding-left: 5px;
}
.pl6,
.pl6_ > *,
.pl6- * {
  padding-left: 6px;
}
.pl7,
.pl7_ > *,
.pl7- * {
  padding-left: 7px;
}
.pl8,
.pl8_ > *,
.pl8- * {
  padding-left: 8px;
}
.pl9,
.pl9_ > *,
.pl9- * {
  padding-left: 9px;
}
.pl10,
.pl10_ > *,
.pl10- * {
  padding-left: 10px;
}
.pl12,
.pl12_ > *,
.pl12- * {
  padding-left: 12px;
}
.pl14,
.pl14_ > *,
.pl14- * {
  padding-left: 14px;
}
.pl16,
.pl16_ > *,
.pl16- * {
  padding-left: 16px;
}
.pl18,
.pl18_ > *,
.pl18- * {
  padding-left: 18px;
}
.pl20,
.pl20_ > *,
.pl20- * {
  padding-left: 20px;
}
.pl30,
.pl30_ > *,
.pl30- * {
  padding-left: 30px;
}
.pl40,
.pl40_ > *,
.pl40- * {
  padding-left: 40px;
}
.pl50,
.pl50_ > *,
.pl50- * {
  padding-left: 50px;
}
.px0,
.px0_ > *,
.px0- * {
  padding-left: 0px;
  padding-right: 0px;
}
.px1,
.px1_ > *,
.px1- * {
  padding-left: 1px;
  padding-right: 1px;
}
.px2,
.px2_ > *,
.px2- * {
  padding-left: 2px;
  padding-right: 2px;
}
.px3,
.px3_ > *,
.px3- * {
  padding-left: 3px;
  padding-right: 3px;
}
.px4,
.px4_ > *,
.px4- * {
  padding-left: 4px;
  padding-right: 4px;
}
.px5,
.px5_ > *,
.px5- * {
  padding-left: 5px;
  padding-right: 5px;
}
.px6,
.px6_ > *,
.px6- * {
  padding-left: 6px;
  padding-right: 6px;
}
.px7,
.px7_ > *,
.px7- * {
  padding-left: 7px;
  padding-right: 7px;
}
.px8,
.px8_ > *,
.px8- * {
  padding-left: 8px;
  padding-right: 8px;
}
.px9,
.px9_ > *,
.px9- * {
  padding-left: 9px;
  padding-right: 9px;
}
.px10,
.px10_ > *,
.px10- * {
  padding-left: 10px;
  padding-right: 10px;
}
.px12,
.px12_ > *,
.px12- * {
  padding-left: 12px;
  padding-right: 12px;
}
.px14,
.px14_ > *,
.px14- * {
  padding-left: 14px;
  padding-right: 14px;
}
.px16,
.px16_ > *,
.px16- * {
  padding-left: 16px;
  padding-right: 16px;
}
.px18,
.px18_ > *,
.px18- * {
  padding-left: 18px;
  padding-right: 18px;
}
.px20,
.px20_ > *,
.px20- * {
  padding-left: 20px;
  padding-right: 20px;
}
.px30,
.px30_ > *,
.px30- * {
  padding-left: 30px;
  padding-right: 30px;
}
.px40,
.px40_ > *,
.px40- * {
  padding-left: 40px;
  padding-right: 40px;
}
.px50,
.px50_ > *,
.px50- * {
  padding-left: 50px;
  padding-right: 50px;
}
.py0,
.py0_ > *,
.py0- * {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py1,
.py1_ > *,
.py1- * {
  padding-top: 1px;
  padding-bottom: 1px;
}
.py2,
.py2_ > *,
.py2- * {
  padding-top: 2px;
  padding-bottom: 2px;
}
.py3,
.py3_ > *,
.py3- * {
  padding-top: 3px;
  padding-bottom: 3px;
}
.py4,
.py4_ > *,
.py4- * {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py5,
.py5_ > *,
.py5- * {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py6,
.py6_ > *,
.py6- * {
  padding-top: 6px;
  padding-bottom: 6px;
}
.py7,
.py7_ > *,
.py7- * {
  padding-top: 7px;
  padding-bottom: 7px;
}
.py8,
.py8_ > *,
.py8- * {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py9,
.py9_ > *,
.py9- * {
  padding-top: 9px;
  padding-bottom: 9px;
}
.py10,
.py10_ > *,
.py10- * {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py12,
.py12_ > *,
.py12- * {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py14,
.py14_ > *,
.py14- * {
  padding-top: 14px;
  padding-bottom: 14px;
}
.py16,
.py16_ > *,
.py16- * {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py18,
.py18_ > *,
.py18- * {
  padding-top: 18px;
  padding-bottom: 18px;
}
.py20,
.py20_ > *,
.py20- * {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py30,
.py30_ > *,
.py30- * {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py40,
.py40_ > *,
.py40- * {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py50,
.py50_ > *,
.py50- * {
  padding-top: 50px;
  padding-bottom: 50px;
}
/**padding  End**/
/**border Start**/
.bdn {
  border: none;
}
.bd0 {
  border: 0;
}
.bcc {
  border-collapse: collapse;
}
.bd1,
.bd1_ > *,
.bd1- * {
  border: 1px solid;
}
.bdt1,
.bdt1_ > *,
.bdt1- * {
  border-top: 1px solid;
}
.bdr1,
.bdr1_ > *,
.bdr1- * {
  border-right: 1px solid;
}
.bdb1,
.bdb1_ > *,
.bdb1- * {
  border-bottom: 1px solid;
}
.bdl1,
.bdl1_ > *,
.bdl1- * {
  border-left: 1px solid;
}
.bds-solid {
  border-style: solid;
}
.bds-dashed {
  border-style: dashed;
}
.bds-dot {
  border-style: dotted;
}
.bdw0 {
  border-width: 0px;
}
.bdw1 {
  border-width: 1px;
}
.bdw2 {
  border-width: 2px;
}
.bdw3 {
  border-width: 3px;
}
.bdw4 {
  border-width: 4px;
}
.bdw5 {
  border-width: 5px;
}
.bdw6 {
  border-width: 6px;
}
.bdw7 {
  border-width: 7px;
}
.bdw8 {
  border-width: 8px;
}
.bdw9 {
  border-width: 9px;
}
.bdw10 {
  border-width: 10px;
}
.bdtw0 {
  border-top-width: 0px;
}
.bdtw1 {
  border-top-width: 1px;
}
.bdtw2 {
  border-top-width: 2px;
}
.bdtw3 {
  border-top-width: 3px;
}
.bdtw4 {
  border-top-width: 4px;
}
.bdtw5 {
  border-top-width: 5px;
}
.bdtw6 {
  border-top-width: 6px;
}
.bdtw7 {
  border-top-width: 7px;
}
.bdtw8 {
  border-top-width: 8px;
}
.bdtw9 {
  border-top-width: 9px;
}
.bdtw10 {
  border-top-width: 10px;
}
.bdrw0 {
  border-right-width: 0px;
}
.bdrw1 {
  border-right-width: 1px;
}
.bdrw2 {
  border-right-width: 2px;
}
.bdrw3 {
  border-right-width: 3px;
}
.bdrw4 {
  border-right-width: 4px;
}
.bdrw5 {
  border-right-width: 5px;
}
.bdrw6 {
  border-right-width: 6px;
}
.bdrw7 {
  border-right-width: 7px;
}
.bdrw8 {
  border-right-width: 8px;
}
.bdrw9 {
  border-right-width: 9px;
}
.bdrw10 {
  border-right-width: 10px;
}
.bdbw0 {
  border-bottom-width: 0px;
}
.bdbw1 {
  border-bottom-width: 1px;
}
.bdbw2 {
  border-bottom-width: 2px;
}
.bdbw3 {
  border-bottom-width: 3px;
}
.bdbw4 {
  border-bottom-width: 4px;
}
.bdbw5 {
  border-bottom-width: 5px;
}
.bdbw6 {
  border-bottom-width: 6px;
}
.bdbw7 {
  border-bottom-width: 7px;
}
.bdbw8 {
  border-bottom-width: 8px;
}
.bdbw9 {
  border-bottom-width: 9px;
}
.bdbw10 {
  border-bottom-width: 10px;
}
.bdlw0 {
  border-left-width: 0px;
}
.bdlw1 {
  border-left-width: 1px;
}
.bdlw2 {
  border-left-width: 2px;
}
.bdlw3 {
  border-left-width: 3px;
}
.bdlw4 {
  border-left-width: 4px;
}
.bdlw5 {
  border-left-width: 5px;
}
.bdlw6 {
  border-left-width: 6px;
}
.bdlw7 {
  border-left-width: 7px;
}
.bdlw8 {
  border-left-width: 8px;
}
.bdlw9 {
  border-left-width: 9px;
}
.bdlw10 {
  border-left-width: 10px;
}
/**border  End**/
/**width Start**/
.w0 {
  width: 0;
}
.w-p1,
.w-p1_ > *,
.w-p1- * {
  width: 10%;
}
.w-p3,
.w-p3_ > *,
.w-p3- * {
  width: 30%;
}
.w-p6,
.w-p6_ > *,
.w-p6- * {
  width: 60%;
}
.w-p7,
.w-p7_ > *,
.w-p7- * {
  width: 70%;
}
.w-p8,
.w-p8_ > *,
.w-p8- * {
  width: 80%;
}
.w-p9,
.w-p9_ > *,
.w-p9- * {
  width: 90%;
}
.w-p10,
.w-p10_ > *,
.w-p10- * {
  width: 100%;
}
.max-w100 {
  max-width: 100%;
}
.min-w100 {
  min-width: 100%;
}
/**width  End**/
/**shape Start**/
.radius0 {
  border-radius: 0px;
}
.radius1 {
  border-radius: 1px;
}
.radius2 {
  border-radius: 2px;
}
.radius3 {
  border-radius: 3px;
}
.radius4 {
  border-radius: 4px;
}
.radius5 {
  border-radius: 5px;
}
.radius6 {
  border-radius: 6px;
}
.radius7 {
  border-radius: 7px;
}
.radius8 {
  border-radius: 8px;
}
.radius9 {
  border-radius: 9px;
}
.radius10 {
  border-radius: 10px;
}
.radius20 {
  border-radius: 20px;
}
.radius-top-0 {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}
.radius-right-0 {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.radius-bottom-0 {
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.radius-left-0 {
  border-bottom-left-radius: 0!important;
  border-top-left-radius: 0!important;
}
.circle {
  border-radius: 50%!important;
}
.rect {
  border-radius: 0!important;
}
/**shape  End**/
/**img Start**/
.fit-img,
.fit-img_ > img,
.fit-img- img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
/**img  End**/
/**overflow Start**/
.ovh {
  overflow: hidden;
}
.ovv {
  overflow: visible;
}
.ovs {
  overflow: scroll;
}
.ova {
  overflow: auto;
}
.oz {
  overflow: hidden;
  zoom: 1;
}
/**overflow  End**/
/**color Start**/
.link-0,
.link-0_ > a {
  color: #000000;
}
.link-3,
.link-3_ > a {
  color: #333333;
}
.link-6,
.link-6_ > a {
  color: #666666;
}
.link-9,
.link-9_ > a {
  color: #999999;
}
.link-c,
.link-c_ > a {
  color: #cccccc;
}
.link-d,
.link-d_ > a {
  color: #dddddd;
}
.link-e,
.link-e_ > a {
  color: #eeeeee;
}
.link-f,
.link-f_ > a {
  color: #ffffff;
}
.link-red,
.link-red_ > a {
  color: #ff0000;
}
.link-orange,
.link-orange_ > a {
  color: #ff6600;
}
.link-green,
.link-green_ > a {
  color: #008800;
}
/**color  End**/
/**_init  End**/
/**_init  End**/
/**_init Start**/
/**grid-core Start**/
.dib-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}
.opera-only :-o-prefocus,
.grid-g {
  word-spacing: -0.43em;
}
.dib-u,
[class*="dib-u-"],
.dib-g_ > * {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  font-family: sans-serif;
}
.grid-u-1 {
  width: 100%;
}
.grid-u-1-2,
.grid-u-1-2_ > * {
  width: 50%;
}
.grid-u-1-3,
.grid-u-1-3_ > * {
  width: 33.33333%;
}
.grid-u-2-3,
.grid-u-2-3_ > * {
  width: 66.66666%;
}
.grid-u-1-4,
.grid-u-1-4_ > * {
  width: 25%;
}
.grid-u-3-4,
.grid-u-3-4_ > * {
  width: 75%;
}
.grid-u-1-5,
.grid-u-1-5_ > * {
  width: 20%;
}
.grid-u-2-5,
.grid-u-2-5_ > * {
  width: 40%;
}
.grid-u-3-5,
.grid-u-3-5_ > * {
  width: 60%;
}
.grid-u-4-5,
.grid-u-4-5_ > * {
  width: 80%;
}
.grid-u-1-6,
.grid-u-1-6_ > * {
  width: 16.656%;
}
.grid-u-5-6,
.grid-u-5-6_ > * {
  width: 83.33%;
}
.grid-u-1-8,
.grid-u-1-8_ > * {
  width: 12.5%;
}
.grid-u-3-8,
.grid-u-3-8_ > * {
  width: 37.5%;
}
.grid-u-5-8,
.grid-u-5-8_ > * {
  width: 62.5%;
}
.grid-u-7-8,
.grid-u-7-8_ > * {
  width: 87.5%;
}
.grid-u-1-12,
.grid-u-1-12_ > * {
  width: 8.3333%;
}
.grid-u-5-12,
.grid-u-5-12_ > * {
  width: 41.6666%;
}
.grid-u-7-12,
.grid-u-7-12_ > * {
  width: 58.3333%;
}
.grid-u-11-12,
.grid-u-11-12_ > * {
  width: 91.6666%;
}
.grid-u-1-24,
.grid-u-1-24_ > * {
  width: 4.1666%;
}
.grid-u-5-24,
.grid-u-5-24_ > * {
  width: 20.8333%;
}
.grid-u-7-24,
.grid-u-7-24_ > * {
  width: 29.1666%;
}
.grid-u-11-24,
.grid-u-11-24_ > * {
  width: 45.8333%;
}
.grid-u-13-24,
.grid-u-13-24_ > * {
  width: 54.1666%;
}
.grid-u-17-24,
.grid-u-17-24_ > * {
  width: 70.8333%;
}
.grid-u-19-24,
.grid-u-19-24_ > * {
  width: 79.1666%;
}
.grid-u-23-24,
.grid-u-23-24_ > * {
  width: 95.8333%;
}
/**grid-core  End**/
/**_init  End**/
/**_init Start**/
/**zero-width-font Start**/
@font-face {
  font-family: 'zero-width';
  src: url('../fonts/zero-width.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'zero-width';
  src: url(http://:/) format("No-IE-404"), url('../fonts/zero-width.woff') format('woff'), url('../fonts/zero-width.svg') format('svg'), url('../fonts/zero-width.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.f-zero,
.ls0,
.ls0_ {
  font-family: zero-width;
}
.f-zero0 {
  font: 0/0 zero-width;
}
/**zero-width-font  End**/
/**absolute-center Start**/
.abs-center,
.abs-center-x,
.abs-center-y {
  position: absolute;
  margin: auto;
}
/**absolute-center  End**/
/**justify-list Start**/
/* trigger hasLayout in IE */
.justify-list_ {
  vertical-align: top;
  text-align: justify;
  text-justify: distribute-all-lines;
  /* distribute items in IE */
  *zoom: 1;
  /* fully justify all items in browsers other than IE */
  /*
  Attention:IE7 don't need the solution when you use span/a/input and the other default inline element.
  */
}
.justify-list_ > * {
  text-align: left;
  /* customize to suit */
  vertical-align: top;
}
.justify-list_:after {
  display: inline-block;
  content: '\200b';
  overflow: hidden;
  height: 0;
  width: 100%;
}
/**justify-list  End**/
/**vertical-middle Start**/
.vim_ > ._fix,
.vim- .fix {
  overflow: hidden;
  width: 0;
  height: 100%;
}
.vim-center,
.vim-center_ > * {
  *zoom: expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("feiafter") ).className="after");
}
.vim-center:after,
.vim-center > .after,
.vim-center_ > *:after,
.vim-center_ > * > .after {
  overflow: hidden;
  width: 0;
  height: 100%;
}
.vim-center:after,
.vim-center_ > *:after {
  display: inline-block;
  content: '\200b';
}
.vim-center > .after,
.vim-center_ > * > .after {
  *display: inline;
}
/**vertical-middle  End**/
/**table-middle Start**/
.cell {
  width: 2000px;
  *display: inline-block;
  *width: auto;
}
/**table-middle  End**/
/**writing-mode Start**/
.wm-lr {
  -ms-writing-mode: lr-tb;
  *writing-mode: lr-tb;
}
.wm-rl {
  -ms-writing-mode: tb-rl;
  *writing-mode: tb-rl;
}
/**writing-mode  End**/
/**letter-spacing Start**/
/*
@Description:
If you use em as the main unit,this solution is not perfect.
But you can use the solution justify pictures.
*/
.ls0,
.ls0_ {
  line-height: 0;
}
/**letter-spacing  End**/
/**eq-height Start**/
.eq-height_ {
  overflow: hidden;
}
.eq-height_ > * {
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
/**eq-height  End**/
/**eq-width Start**/
.eq-width_ > * {
  width: 1%;
}
/**eq-width  End**/
/**layout-lr-auto Start**/
.layout-lr-auto .left,
.layout-lr-auto .left_ > *,
.layout-lr-auto .left- * {
  float: left;
}
.layout-lr-auto .right {
  overflow: hidden;
  zoom: 1;
}
/**layout-lr-auto  End**/
/**layout-tmb-ft Start**/
.layout-tmb-ft {
  min-height: 100%;
  position: relative;
}
.layout-tmb-ft .bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
/**layout-tmb-ft  End**/
/**layout-lrm-auto Start**/
.layout-lrm-auto .left {
  float: left;
}
.layout-lrm-auto .right {
  float: right;
}
/**layout-lrm-auto  End**/
/**input-x100 Start**/
.input-x100-5 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.input-x100-4 {
  width: 92%;
  padding-left: 4%;
  padding-right: 4%;
}
.input-x100-3 {
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
}
.input-x100-2 {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}
.input-x100-1 {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}
/**input-x100  End**/
/**_init  End**/
/**style  End**/
