/**vertical-middle Start**/
.vim{
  &_>*,
  &- *{
    @extend .vam,.dib;
  }
  &_>._fix,
  &- .fix{
    overflow: hidden;
    width:0;
    height: 100%;
  }
}

.vim-center{
  *zoom: ~'expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("feiafter") ).className="after")';
  &>*{
    @extend .vam,.dib;
  }
  &:after,
  &>.after{
    overflow: hidden;
    width:0;
    height: 100%;
  }
  &:after{
    @extend .vam;
    display: inline-block;
    content:'\200b';
  }

  &>.after{
    *display: inline;
  }
}

.vim-center_ > * {
  &:extend(.vim-center all);
}

//extend vertical-align:
.vam{
  &_>*,
  &- *{
    &:extend(.vam);
  }
}

.vat{
  &_>*,
  &- *{
    &:extend(.vat);
  }
}


.vab{
  &_>*,
  &- *{
    &:extend(.vab);
  }
}



/**vertical-middle  End**/
