/**vertical-middle Start**/
.vim{
  &#{$children}>*,
  &#{$children_reduce} *{
    @extend .vam,.dib;
  }
  &#{$children}>._fix,
  &#{$children_reduce} .fix{
    overflow: hidden;
    width:0;
    height: 100%;
  }
}

.vim-center{
  //*zoom: ~'expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("feiafter") ).className="after")';
  &>*{
    @extend .vam,.dib;
  }
  &:after,
  &>.after{
    overflow: hidden;
    width:0;
    height: 100%;
  }
  &:after{
    @extend .vam;
    display: inline-block;
    content:'\200b';
  }

  &>.after{
    *display: inline;
  }
}

.vim-center_ > * {
  //&:extend(.vim-center all);
  @extend .vim-center;
}

//extend vertical-align:
.vam{
  &#{$children}>*,
  &#{$children_reduce} *{
    @extend .vam;
  }
}

.vat{
  &#{$children}>*,
  &#{$children_reduce} *{
    @extend .vat;
  }
}


.vab{
  &#{$children}>*,
  &#{$children_reduce} *{
    @extend .vab;
  }
}



/**vertical-middle  End**/
