/**wrap-center Start**/
.wrap-center {
  //position: relative;
  width: 100%;
  overflow: hidden;
  &>.inner{
    position: relative;
    width: 20000px;
    left: 50%;
    margin: 0 0 0 -10000px;
  }
}

/**wrap-center  End**/
