.dib-u-1,
.dib-u-1-1,
.dib-u-1-2,
.dib-u-1-3,
.dib-u-2-3,
.dib-u-1-4,
.dib-u-3-4,
.dib-u-1-5,
.dib-u-2-5,
.dib-u-3-5,
.dib-u-4-5,
.dib-u-5-5,
.dib-u-1-6,
.dib-u-5-6,
.dib-u-1-12,
.dib-u-2-12,
.dib-u-3-12,
.dib-u-4-12,
.dib-u-5-12,
.dib-u-6-12,
.dib-u-7-12,
.dib-u-8-12,
.dib-u-9-12,
.dib-u-10-12,
.dib-u-11-12,
.dib-u-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.dib-u-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
}

.dib-u-1-6,
.dib-u-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
}

.dib-u-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.dib-u-1-4,
.dib-u-3-12 {
    width: 25%;
    *width: 24.9690%;
}

.dib-u-1-3,
.dib-u-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
}

.dib-u-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.dib-u-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
}

.dib-u-1-2,
.dib-u-6-12 {
    width: 50%;
    *width: 49.9690%;
}

.dib-u-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
}

.dib-u-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.dib-u-2-3,
.dib-u-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
}

.dib-u-3-4,
.dib-u-9-12 {
    width: 75%;
    *width: 74.9690%;
}

.dib-u-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.dib-u-5-6,
.dib-u-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
}

.dib-u-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
}

.dib-u-1,
.dib-u-1-1,
.dib-u-5-5,
.dib-u-12-12 {
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .dib-u-sm-1,
    .dib-u-sm-1-1,
    .dib-u-sm-1-2,
    .dib-u-sm-1-3,
    .dib-u-sm-2-3,
    .dib-u-sm-1-4,
    .dib-u-sm-3-4,
    .dib-u-sm-1-5,
    .dib-u-sm-2-5,
    .dib-u-sm-3-5,
    .dib-u-sm-4-5,
    .dib-u-sm-5-5,
    .dib-u-sm-1-6,
    .dib-u-sm-5-6,
    .dib-u-sm-1-12,
    .dib-u-sm-2-12,
    .dib-u-sm-3-12,
    .dib-u-sm-4-12,
    .dib-u-sm-5-12,
    .dib-u-sm-6-12,
    .dib-u-sm-7-12,
    .dib-u-sm-8-12,
    .dib-u-sm-9-12,
    .dib-u-sm-10-12,
    .dib-u-sm-11-12,
    .dib-u-sm-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .dib-u-sm-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .dib-u-sm-1-6,
    .dib-u-sm-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .dib-u-sm-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .dib-u-sm-1-4,
    .dib-u-sm-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .dib-u-sm-1-3,
    .dib-u-sm-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .dib-u-sm-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .dib-u-sm-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .dib-u-sm-1-2,
    .dib-u-sm-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .dib-u-sm-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .dib-u-sm-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .dib-u-sm-2-3,
    .dib-u-sm-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .dib-u-sm-3-4,
    .dib-u-sm-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .dib-u-sm-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .dib-u-sm-5-6,
    .dib-u-sm-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .dib-u-sm-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .dib-u-sm-1,
    .dib-u-sm-1-1,
    .dib-u-sm-5-5,
    .dib-u-sm-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .dib-u-md-1,
    .dib-u-md-1-1,
    .dib-u-md-1-2,
    .dib-u-md-1-3,
    .dib-u-md-2-3,
    .dib-u-md-1-4,
    .dib-u-md-3-4,
    .dib-u-md-1-5,
    .dib-u-md-2-5,
    .dib-u-md-3-5,
    .dib-u-md-4-5,
    .dib-u-md-5-5,
    .dib-u-md-1-6,
    .dib-u-md-5-6,
    .dib-u-md-1-12,
    .dib-u-md-2-12,
    .dib-u-md-3-12,
    .dib-u-md-4-12,
    .dib-u-md-5-12,
    .dib-u-md-6-12,
    .dib-u-md-7-12,
    .dib-u-md-8-12,
    .dib-u-md-9-12,
    .dib-u-md-10-12,
    .dib-u-md-11-12,
    .dib-u-md-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .dib-u-md-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .dib-u-md-1-6,
    .dib-u-md-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .dib-u-md-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .dib-u-md-1-4,
    .dib-u-md-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .dib-u-md-1-3,
    .dib-u-md-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .dib-u-md-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .dib-u-md-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .dib-u-md-1-2,
    .dib-u-md-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .dib-u-md-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .dib-u-md-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .dib-u-md-2-3,
    .dib-u-md-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .dib-u-md-3-4,
    .dib-u-md-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .dib-u-md-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .dib-u-md-5-6,
    .dib-u-md-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .dib-u-md-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .dib-u-md-1,
    .dib-u-md-1-1,
    .dib-u-md-5-5,
    .dib-u-md-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .dib-u-lg-1,
    .dib-u-lg-1-1,
    .dib-u-lg-1-2,
    .dib-u-lg-1-3,
    .dib-u-lg-2-3,
    .dib-u-lg-1-4,
    .dib-u-lg-3-4,
    .dib-u-lg-1-5,
    .dib-u-lg-2-5,
    .dib-u-lg-3-5,
    .dib-u-lg-4-5,
    .dib-u-lg-5-5,
    .dib-u-lg-1-6,
    .dib-u-lg-5-6,
    .dib-u-lg-1-12,
    .dib-u-lg-2-12,
    .dib-u-lg-3-12,
    .dib-u-lg-4-12,
    .dib-u-lg-5-12,
    .dib-u-lg-6-12,
    .dib-u-lg-7-12,
    .dib-u-lg-8-12,
    .dib-u-lg-9-12,
    .dib-u-lg-10-12,
    .dib-u-lg-11-12,
    .dib-u-lg-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .dib-u-lg-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .dib-u-lg-1-6,
    .dib-u-lg-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .dib-u-lg-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .dib-u-lg-1-4,
    .dib-u-lg-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .dib-u-lg-1-3,
    .dib-u-lg-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .dib-u-lg-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .dib-u-lg-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .dib-u-lg-1-2,
    .dib-u-lg-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .dib-u-lg-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .dib-u-lg-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .dib-u-lg-2-3,
    .dib-u-lg-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .dib-u-lg-3-4,
    .dib-u-lg-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .dib-u-lg-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .dib-u-lg-5-6,
    .dib-u-lg-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .dib-u-lg-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .dib-u-lg-1,
    .dib-u-lg-1-1,
    .dib-u-lg-5-5,
    .dib-u-lg-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    .dib-u-xl-1,
    .dib-u-xl-1-1,
    .dib-u-xl-1-2,
    .dib-u-xl-1-3,
    .dib-u-xl-2-3,
    .dib-u-xl-1-4,
    .dib-u-xl-3-4,
    .dib-u-xl-1-5,
    .dib-u-xl-2-5,
    .dib-u-xl-3-5,
    .dib-u-xl-4-5,
    .dib-u-xl-5-5,
    .dib-u-xl-1-6,
    .dib-u-xl-5-6,
    .dib-u-xl-1-12,
    .dib-u-xl-2-12,
    .dib-u-xl-3-12,
    .dib-u-xl-4-12,
    .dib-u-xl-5-12,
    .dib-u-xl-6-12,
    .dib-u-xl-7-12,
    .dib-u-xl-8-12,
    .dib-u-xl-9-12,
    .dib-u-xl-10-12,
    .dib-u-xl-11-12,
    .dib-u-xl-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .dib-u-xl-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .dib-u-xl-1-6,
    .dib-u-xl-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .dib-u-xl-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .dib-u-xl-1-4,
    .dib-u-xl-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .dib-u-xl-1-3,
    .dib-u-xl-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .dib-u-xl-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .dib-u-xl-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .dib-u-xl-1-2,
    .dib-u-xl-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .dib-u-xl-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .dib-u-xl-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .dib-u-xl-2-3,
    .dib-u-xl-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .dib-u-xl-3-4,
    .dib-u-xl-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .dib-u-xl-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .dib-u-xl-5-6,
    .dib-u-xl-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .dib-u-xl-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .dib-u-xl-1,
    .dib-u-xl-1-1,
    .dib-u-xl-5-5,
    .dib-u-xl-12-12 {
        width: 100%;
    }
}