/**base Start**/
$body-font-size: 62.5%;
$body-line-height: 1;
$body-font-family: Tahoma, simsun, "\5b8b\4f53", Microsoft YaHei, Arial, "sans-serif";
$header-font-size: 1.2em;

$children: '_';
$children_reduce: '-';
/**base  End**/
